<h1 class="center">Food Search</h1>
<br>
<form id="food-search" class="center">
  <label for="ingredients">Ingredients:</label>
  <input type="text" name="ingredients"><span id="ingredient-instructions"> separate with spaces</span>
  <br><br>
  <input type="submit" value="Find">
</form>
