<h1 class="center">Ingredients</h1>

<img class="center" src="<%= @recipe['image_url'] %>">
<ul class="center">
  <% @recipe['ingredients'].each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>
